<a href="https://colab.research.google.com/github/andreaedo/Coursera_Capstone/blob/master/IBMDataVisualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
pd.read_csv('https://cocl.us/datascience_survey_data',  index_col = 0)

                            Very interested  ...  Not interested
Big Data (Spark / Hadoop)              1332  ...             127
Data Analysis / Statistics             1688  ...              60
Data Journalism                         429  ...             610
Data Visualization                     1340  ...             102
Deep Learning                          1263  ...             136
Machine Learning                       1629  ...              74

[6 rows x 3 columns]