<a href="https://colab.research.google.com/github/andreaedo/Coursera_Capstone/blob/master/V_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%matplotlib inline 

import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np

In [71]:
pd.read_csv('https://cocl.us/datascience_survey_data',  index_col = 0)

                            Very interested  ...  Not interested
Big Data (Spark / Hadoop)              1332  ...             127
Data Analysis / Statistics             1688  ...              60
Data Journalism                         429  ...             610
Data Visualization                     1340  ...             102
Deep Learning                          1263  ...             136
Machine Learning                       1629  ...              74

[6 rows x 3 columns]

In [94]:
df = pd.read_csv('https://cocl.us/datascience_survey_data',  index_col = 0)

df.sort_values(by='Very interested', ascending=False, inplace=True)
df['Very interested'] = round(df['Very interested']/2233 * 100,2)
df['Somewhat interested'] = round(df['Somewhat interested']/2233 * 100,2)
df['Not interested'] = round(df
                             ['Not interested']/2233 * 100,2)

df
# df.head()
# df.plot(kind='bar',
#         figsize=(20, 8),
#         color=['#5cb85c', '#5bc0de', '#d9534f']
       
#        )

# plt.title("Percentage of Respondents' Interest in Data Science Areas")

# i=0
# for index, row in df.iterrows():
 
#   plt.annotate(row['Very interested'], xy=(i - 0.22, np.round(row['Very interested'], 2)), color="red")
#   plt.annotate(row['Somewhat interested'], xy=(i - 0.05, row['Somewhat interested']), color="blue")
#   plt.annotate(row['Not interested'], xy=(i + 0.12, row['Not interested']), color="black")
#   i = i+1

# plt.show()

                            Very interested  ...  Not interested
Data Analysis / Statistics            75.59  ...            2.69
Machine Learning                      72.95  ...            3.31
Data Visualization                    60.01  ...            4.57
Big Data (Spark / Hadoop)             59.65  ...            5.69
Deep Learning                         56.56  ...            6.09
Data Journalism                       19.21  ...           27.32

[6 rows x 3 columns]